# Bratnet (etimologiera) API credentials
# Επικοινώνησε με τον πάροχο για να σου δώσει τα δικά σου credentials
BRATNET_API_URL=https://api.etimologiera.gr
BRATNET_USERNAME=your_username_here
BRATNET_PASSWORD=your_password_here

ISSUER_VAT=your_vat_here

# Port που τρέχει ο backend server
PORT=3000
